<ion-content>
	<div class="login-page custom-form">
		<div data-fader class="alert alert-danger" data-ng-if="error">
			{{error}}<i class="ion-close" data-ng-click="clearErrors($event)"></i>
		</div>
		<div data-fader class="alert alert-success" data-ng-if="success">
			{{success}}<i class="ion-close" data-ng-click="clearMessages($event)"></i>
		</div>
		<form class="form-area" method="post">
			<div class="header-label">{{'Password Assistance'|translate}}</div>	
			<div class="info">{{'RESET_PASSWORD_INSTRUCTIONS_AUTH_PAGE'|translate}}</div>
			<input type="email" class="form-control input-lg" placeholder="{{'E-mail'|translate}}" data-ng-model="data.email" />
			<button type="submit" class="button button-block" data-ng-click="resetPassword($event)">{{'Reset'|translate}}</button>
			<div class="row">
				<div class="col">
					<a data-ng-href="#/auth/login" class="pull-right">{{'Cancel'|translate}}</a>
				</div>
			</div>		
		</form>
	</div>
</ion-content>