<div class="container-fluid">
<!-- /.panel -->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{profile.nome}}</h1>
		</div>
		<div class="col-lg-3 picture">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-fw"></i>{{profile.nome}}
				</div>
				<!-- /.panel-heading -->
				<a> <img class="img-responsive "
					src="resources/img/kaue.jpg" alt="...">
				</a>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-fw"></i> Dados do Usuario
				</div>
				<!-- /.panel-heading -->
				<notifications></notifications>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->

				<dl class="">
							<dt>nome</dt>
							<dd>Kaue rodrigues dos Santos</dd>
						</dl>
						<address>
							<strong>Twitter, Inc.</strong><br> 1355 Market Street, Suite
							900<br> San Francisco, CA 94103<br> <abbr title="Phone">P:</abbr>
							(123) 456-7890
						</address>
			<!-- /.panel .chat-panel -->
		</div>
	</div>
	<!-- /.row -->
</div>